@import '../../../sass/variables/variables.scss';

.booking-search {
	height: 200px;
}

@media only screen and (max-width: $mobile) {
	.search-btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}