@import '../../../sass/variables/variables.scss';

.room-row {
	max-width: $app-content-width;
	width: 100%;
	margin: auto;
	padding: 0 18px;
}

.room {
	display: flex;
	flex-direction: row;

	margin: 18px 0;
	border: 1px solid var(--color-greys-border);
	border-radius: 4px;
	overflow: hidden;

	height: 220px;
	width: $app-content-width;

	.room-img>img {
		width: 250px;
		height: 100%;
		object-fit: cover;
	}

	.room-info {
		width: 320px;
	}

}

.room.sold-out {
	opacity: 0.6;
}

@media only screen and (max-width: $desktop) {
	.room {
		height: auto;

		.room-img>img {
			width: 200px;
		}

		.room-info {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $mobile) {
	.room {
		flex-wrap: wrap;

		.room-img {
			width: 100%;
		}

		.room-img>img {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.room-content {
			flex-wrap: wrap;
			width: 100%;
		}

		.room-book {
			margin: auto;
		}
	}

	.room-booking {
		width: 100%;

		.room-book button {
			width: 100%;
		}
	}
}