$mobile-xs: 320px;
$mobile: 575.5px;
$tablet: 767.5px;
$desktop: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1400px;

$color-primary: var(--color-primary);
$color-accent: var(--color-accent);
$color-secondary: var(--color-secondary);
$color-error: var(--color-error);
$color-error-background: var(--color-error-background);

$app-content-width: 1000px;