<div class="d-flex justify-content-center flex-wrap">
	<div class="success p-3 mt-5 m-3">
		<div class="d-flex align-items-center">
			<mat-icon class="h-100 me-1">check_circle_outline</mat-icon>
			<h4 class="my-0">Broneering õnnestus!</h4>
		</div>

		<div>
			<p>Broneeringut on võimalik vaadata ning vajadusel tühistada siin aadressil: </p>
			<a href="/bookings/ID" target="_blank">
				<h5 class="d-inline-block my-0">{{host}}/bookings/ID</h5>
			</a>
		</div>
	</div>

	<div class="w-100 d-flex justify-content-center my-3">
		<button mat-flat-button color="primary" (click)="goToStart()">
			Uus broneering
			<mat-icon iconPositionEnd>add_circle_outline</mat-icon>
		</button>
	</div>
</div>