<div *ngIf="loadingBookings; else results" class="d-flex justify-content-center mt-5">
	<mat-spinner></mat-spinner>
</div>

<ng-template #results>
	<div class="booking-list px-4" *ngIf="bookings && bookings.length > 0">
		<h2 *ngIf="!adminMode" class="m-auto mt-5">Minu broneeringud:</h2>
		<h2 *ngIf="adminMode" class="m-auto mt-5">Viimased broneeringud:</h2>
		<div class="booking-card my-3 mx-auto row gx-0" *ngFor="let booking of bookings">
			<div class="booking-room-image col-3">
				<img [src]="booking.roomDetails?.previewPictureUrl" alt="Picture of the room">
			</div>


			<div class="booking-info col-12 col-xl-4 p-3 pe-0">
				<h3 class="color-primary my-0">{{booking.startDate | date: 'dd.MM.yyyy' }} - {{booking.endDate | date:
					'dd.MM.yyyy'}}</h3>

				<table aria-label="booking info">
					<tr>
						<th class="p-0" scope="col"></th>
						<th class="p-0" scope="col"></th>
					</tr>
					<tr>
						<td class="label">Broneeringu ID:</td>
						<td>{{booking.id}}</td>
					</tr>
					<tr>
						<td class="label">Tuba:</td>
						<td>{{booking.roomDetails?.title}}</td>
					</tr>
					<tr>
						<td class="label">Hind kokku:</td>
						<td class="price color-primary">{{calculatePrice(booking)}} €</td>
					</tr>
				</table>
			</div>

			<div class="guest-info col-12 col-xl-5 p-3">
				<h3 class="color-primary my-0">Külastaja andmed</h3>
				<table aria-label="guest info">
					<tr>
						<th class="p-0" scope="col"></th>
						<th class="p-0" scope="col"></th>
					</tr>
					<tr>
						<td class="label">Külalise nimi:</td>
						<td>{{booking.personData?.firstName}} {{booking.personData?.lastName}}</td>
					</tr>
					<tr>
						<td class="label">e-mail:</td>
						<td>{{booking.personData?.email}}</td>
					</tr>
					<tr>
						<td class="label">Isikukood:</td>
						<td>{{booking.personData?.idCode === null ? 'foreigner/välismaalane' :
							booking.personData?.idCode}}
						</td>
					</tr>
				</table>

				<button
					*ngIf="booking.status !== BookingStatus.CANCELLED_BY_ADMIN && booking.status !== BookingStatus.CANCELLED_BY_USER; else cancelled"
					class="w-100 mt-3" mat-flat-button color="warn" (click)="cancelBooking(booking)">
					Tühista broneering
					<mat-icon iconPositionEnd>delete</mat-icon>
				</button>

				<ng-template #cancelled>
					<button class="w-100 mt-3" mat-flat-button color="warn" disabled="true">
						Broneering tühistatud
					</button>
				</ng-template>
			</div>

		</div>
	</div>
</ng-template>