<div class="book p-3 p-lg-5">
	<div class="py-4">
		<form *ngIf="formGroup" [formGroup]="formGroup" class="filters row gx-0 px-3">
			<div class="date-range col-12 col-lg-5">
				<h5 class="my-0 mb-3">Millal soovite külastada?</h5>
				<div class="veera-input w-100">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Sisesta ajavahemik</mat-label>
						<mat-date-range-input [rangePicker]="picker" [min]="minDate">
							<input matStartDate placeholder="Algus kuupäev" formControlName="dateStart">
							<input matEndDate placeholder="Lõpp kuupäev" formControlName="dateEnd">
						</mat-date-range-input>

						<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>

						<mat-error
							*ngIf="formGroup.get('dateStart')?.getError('required') || formGroup.get('dateEnd')?.getError('required')">
							<app-veera-error [message]="'Palun sisestage korrektne ajavahemik'"></app-veera-error>
						</mat-error>

						<mat-error *ngIf="formGroup.get('dateEnd')?.getError('equal')">
							<app-veera-error [message]="'Vähemalt ühe öö peab ööbima!'"></app-veera-error>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="bed-number col-12 col-lg-4 ps-0 ps-lg-5">
				<h5 class="my-0 mb-3">Mitmekohalist tuba on vaja?</h5>
				<div class=" veera-input w-100">
					<mat-form-field class="w-100" appearance="outline">
						<mat-select formControlName="beds">
							<mat-option *ngFor="let bed of beds" [value]="bed.value">
								{{bed.name}}
							</mat-option>
						</mat-select>

						<mat-error *ngIf="formGroup.get('beds')?.invalid">
							<app-veera-error [message]="'Palun valige magamiskohtade arv'"></app-veera-error>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="search d-flex justify-content-center ps-0 ps-lg-5 my-3 align-items-end col-12 col-lg-3">
				<button class="px-5 fw-bold w-100" mat-flat-button color="primary" (click)="search()">
					Otsi
					<mat-icon iconPositionEnd>search</mat-icon>
				</button>
			</div>
		</form>
	</div>
</div>