@import "../../../sass/variables/variables.scss";

.book {
	background-color: var(--color-greys-background);

	.filters {
		max-width: $app-content-width;
		margin: 0 auto;
	}
}

.search {
	margin-bottom: 23px !important;
}

::ng-deep .date-range-picker {
	.mdc-text-field--outlined {
		pointer-events: none !important;
	}

	.mat-mdc-floating-label {
		pointer-events: none !important;
	}
}

@media only screen and (max-width: $tablet) {
	.filters div {
		width: 100%;

		.veera-input .mat-mdc-form-field {
			width: 100%
		}
	}

	.search {
		justify-content: center !important;

		button {
			width: 100%;
		}
	}
}