<!-- DESKTOP -->
<div class="app-header d-none d-md-flex align-items-center justify-content-between p-5">
	<div class="d-inline-block">
		<img routerLink="/" id="logo" src="../../assets/imgs/logo.jpg" alt="Hotel logo">
	</div>

	<div class="router d-flex">
		<div class="px-3">
			<a routerLink="/book">Broneeri</a>
		</div>

		<div class="px-3">
			<a routerLink="/bookings">Broneeringud</a>
		</div>

	</div>
</div>


<!-- MOBILE -->
<div class="app-header d-md-none d-flex align-items-center justify-content-between p-3">

	<button mat-icon-button (click)="toggleSidenav()">
		<mat-icon svgIcon="veera_burger" color="primary"></mat-icon>
	</button>

	<div class="d-inline-block">
		<img routerLink="/" id="logo" src="../../assets/imgs/logo.jpg" alt="Hotel logo">
	</div>

	<div>
		<button mat-icon-button color="primary">
			<mat-icon svgIcon="veera_login" color="white"></mat-icon>
		</button>
	</div>
</div>