@import '../../sass/variables/variables.scss';

.app-header-content {
	max-width: 1200px;
	width: 100%;
}

.app-header {
	color: var(--color-primary);
	height: 170px;
	border-bottom: 1px solid var(--color-greys-neutral);
	position: relative;

	a {
		font-size: 20px;
		text-decoration: none;
	}

	box-shadow: 0 4px 15px #00000024;
}

#logo {
	cursor: pointer;
	width: 250px;
}

@media only screen and (max-width: $tablet) {

	.app-header {
		height: auto;
	}

	#logo {
		width: 150px;
	}
}