@import '../../../sass/variables/variables.scss';

.card {
	border: 1px solid var(--color-greys-border);
	border-radius: 4px;
	margin: 36px auto;
	max-width: $app-content-width;
}

.booking {
	.booking-summary {
		.order-info {
			.label {
				font-weight: 500;
				width: 130px;
			}

			.price {
				font-weight: 600;
			}
		}
	}

	.booking-contact {
		.veera-input {
			display: block;
		}
	}
}

.veera-input {
	.label {
		width: 120px;
		text-align: end;
	}
}

.room-preview {
	margin-top: 16px;
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 4px;
}

.disabled {
	opacity: 0.4
}

.veera-input-padding {
	padding-left: 86px;
}

@media only screen and (max-width: $tablet) {
	.booking {
		justify-content: center !important;

		div {
			width: 100%;

			.label-wrapper {
				justify-content: start;
			}
		}
	}


	.veera-input-padding {
		padding-left: 0;
	}
}

@media only screen and (max-width: $mobile) {

	.buttons {
		button {
			width: 100%;
		}
	}

}