<div class="card mx-3 mx-lg-auto" *ngIf="booking">
	<div class="booking d-flex justify-content-between flex-wrap mx-3 mx-md-5">
		<div class="booking-summary">
			<h4 class="my-0 my-3 color-primary">Tellimuse kokkuvõte</h4>
			<mat-divider class="my-3"></mat-divider>
			<table class="order-info" aria-label="order info">
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
				<tr>
					<td class="label">Periood:</td>
					<td>{{booking.startDate | date: 'dd.MM.yyyy' }} - {{booking.endDate | date: 'dd.MM.yyyy'}}</td>
				</tr>
				<tr>
					<td class="label">Tuba:</td>
					<td>{{booking.room?.type}}</td>
				</tr>
				<tr>
					<td class="label">Hind kokku:</td>
					<td class="price color-primary">{{calculatePrice(booking)}} €</td>
				</tr>
			</table>

			<img class="room-preview" [src]="RoomTypeToImgMap[1]" alt="Picture of the room">
		</div>

		<div class="booking-contact">
			<h4 class="my-0 my-3 color-primary">Hotelli külastaja andmed</h4>
			<mat-divider class="my-3"></mat-divider>
			<form [formGroup]="formGroup">
				<div class="veera-input">
					<div class="label-wrapper d-flex">
						<p class="label my-0 mt-2 pt-1 pe-2">Eesnimi *</p>
						<mat-form-field appearance="outline">
							<input matInput formControlName="firstName">
							<mat-error *ngIf="formGroup.get('firstName')?.invalid">
								<app-veera-error [message]="'Eesnimi on puudu!'"></app-veera-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="veera-input">
					<div class="label-wrapper d-flex">
						<p class="label my-0 mt-2 pt-1 pe-2">Perenimi *</p>
						<mat-form-field appearance="outline">
							<input matInput formControlName="lastName">
							<mat-error *ngIf="formGroup.get('lastName')?.invalid">
								<app-veera-error [message]="'Perenimi on puudu!'"></app-veera-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="veera-input">
					<div class="label-wrapper d-flex">
						<p class="label my-0 mt-2 pt-1 pe-2">Isikukood *</p>
						<mat-form-field appearance="outline">
							<input matInput formControlName="idCode">

							<mat-error *ngIf="formGroup.get('idCode')?.hasError('required')">
								<app-veera-error [message]="'Isikukood on puudu!'"></app-veera-error>
							</mat-error>

							<mat-error *ngIf="formGroup.get('idCode')?.hasError('validIdCode')">
								<app-veera-error [message]="'Isikukood ei ole korrektne!'"></app-veera-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="veera-input">
					<div class="label-wrapper d-flex">
						<p class="label my-0 mt-2 pt-1 pe-2">E-mail *</p>
						<mat-form-field appearance="outline">
							<input matInput formControlName="email">
							<mat-error *ngIf="formGroup.get('email')?.hasError('required')">
								<app-veera-error [message]="'E-mail on puudu!'"></app-veera-error>
							</mat-error>
							<mat-error *ngIf="formGroup.get('email')?.hasError('email')">
								<app-veera-error [message]="'E-mail ei ole korrektne!'"></app-veera-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
			</form>
		</div>
	</div>

	<mat-divider class="mx-3 mx-md-5 my-3"></mat-divider>

	<div class="buttons d-flex w-100 justify-content-between flex-wrap flex-wrap-reverse mt-md-0 mt-3">
		<button class="mx-3 mx-md-5 mb-3" mat-stroked-button color="primary" (click)="goBackToSearch()">
			<mat-icon>keyboard_arrow_left</mat-icon>
			Tagasi valikusse
		</button>

		<button class="mx-3 mx-md-5 mb-3" mat-flat-button color="primary" [disabled]="sendingBooking"
			(click)="bookRoom(booking)">
			Kinnita broneering
			<mat-icon iconPositionEnd>check_circle_outline</mat-icon>
		</button>
	</div>


</div>