@import '../../sass/variables/variables.scss';

.footer {
	margin-top: 16px;
	background-color: #F9F9F9;

	.info {
		max-width: $app-content-width;
	}
}

.socials {
	background-color: var(--color-greys-background);
}

@media only screen and (max-width: $tablet) {
	.info {
		justify-content: flex-start !important;
		flex-wrap: wrap;

		.mat-divider {
			display: none;
		}

		>div {
			width: 100%;
		}
	}

}